/* GENERICS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 200vh;
}

/* UTILS */

.container-medium {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.main-btn {
  border-style: none;
  padding: 10px 15px;
  font-size: 1rem;
}

.btn-blue {
  background-color: #0061ff;
  color: white;
}

/* HEADER */

.header-top {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-top + * {
  padding-top: 80px;
}

/* NAVBAR */

.navbar {
  height: 80px;
}

.nav-link-list {
  list-style-type: none;
}

.nav-link-item {
  display: inline-block;
  margin: 0 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/* MAIN */

/* SECTION WITH H1 */

.bg-azure {
  min-height: calc(100vh - 80px);
  background-color: #b4d0e7;
}

h1 {
  padding-top: 80px;
  padding-bottom: 60px;
  font-size: 4.5rem;
  font-weight: 800;
}

.jumbodrom-text {
  width: 35%;
  height: 500px;
}

.jumbodrom-img {
  width: 65%;
  height: 500px;
}

.jumbodrom-img > img {
  max-width: 100%;
}

.container-medium p {
  padding-bottom: 30px;
  padding-right: 100px;
  line-height: 25px;
}

.text-jumbo {
  padding: 25px 0;
}
