/* GENERICS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 500vh;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

ul,
ol,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

.header-top + * {
  padding-top: 70px;
}

/* UTILS */

.container {
  width: 1000px;
  margin: 0 auto;
}

.container-lg {
  width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
  gap: 50px;
}

.gap {
  gap: 50px;
}

.justify-between {
  justify-content: space-between;
}

.col-30 {
  width: 30%;
}

.col-60 {
  width: 60%;
}

.col-100 {
  width: 100%;
  border: 1px solid #dedee0;
}

.col-top {
  padding: 10px;
  text-align: center;
  border: 1px solid #dedee0;
}

.col-bottom {
  padding: 40px;
  min-height: 900px;
  border: 1px solid #dedee0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-large {
  font-size: 40px;

  margin-bottom: 50px;
}
.text-medium {
  font-size: 25px;
}

.text-small {
  font-size: 0.9rem;
}

.small-bold {
  font-weight: bold;
}

.small-grey {
  color: #939393;
}

/* BUTTON */

.button {
  line-height: 40px;
  font-size: 16px;
  padding: 0 17px;
  text-align: center;
  display: inline-block;
}

.button-blue {
  background-color: #0061ff;
  border-color: #0061ff;
  color: white;
}

.arrow-icon {
  font-size: 60px;
  margin-top: auto;
}

/* NAVBAR */

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.header-top .row {
  padding: 25px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-link {
  padding: 0 15px;
}

/* ! MAIN */

/* SECTION ONE */

.bg-azure {
  background-color: #b4d0e7;
}

.title-big {
  font-size: 74px;
  font-weight: 800;
  margin-top: 80px;
  margin-bottom: 40px;
}

.bg-azure .col-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

/* SECTION BUSINESS-PLAN */

.business-plan {
  padding: 100px 0 80px 0;
}

.circle {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.circle-blue {
  border: 5px solid #0061ff;
}
.circle-white {
  border: 2px solid #cacccf;
}

.circle-center {
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-bottom: 50px;
}

.blue-check {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0061ff;
}

.cards-wrapper {
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid rgb(198, 198, 198);
  height: 100%;
}

.cards-wrapper .col {
  /* width: calc((100% - 100px) / 3); */
  flex-grow: 1;
  flex-basis: 0;
}

.card__header {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid rgb(198, 198, 198);
}

.card__body {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.card__body .button {
  width: 100%;
}

.price,
.bold {
  font-weight: 600;
}

p a {
  color: #0061ff;
  text-decoration: underline;
}

.list-item,
.body__section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  gap: 6px;
}

.col-100 .button {
  width: auto;
}

.col-100 p {
  width: 70%;
  padding-top: 50px;
  font-size: 0.9rem;
}
